<html>

<head>
	<title>Bot</title>	
	<link rel="stylesheet" href="static/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-dark">
	<form>
	<section class="row" style="color:#eee">
		<label class="col-6">
		<input type="checkbox" {% if model.throttle %}checked{%endif%}  name="throttle">Control Throttle</input>
		</label>
		<label class="col-6">
		<input type="checkbox" {% if model.steering %}checked{%endif%}  name="steering">Control Steering</input>
		</label>
	</section>

	<section class="row">
		<button class="btn btn-primary form-control col-sm-12 col-md-3" formaction="/route">Route</button>
		<button class="btn btn-secondary form-control col-sm-12" formaction="/training">Training</button>
		<button class="btn btn-primary form-control col-sm-12" formaction="/run">Run</button>
		<button class="btn btn-secondary form-control col-sm-12" formaction="/calgood">Set Good Colors</button>
		<button class="btn btn-primary form-control col-sm-12" formaction="/calbad">Set Bad Colors</button>
		<button class="btn btn-warning form-control col-sm-12" formaction="/stop">Stop</button>
		<button class="btn btn-danger form-control col-sm-12" formaction="/reboot">Reboot</button>
	</section>
	</form>	
</body>

</html>
